/* Welcome message styles */
.welcome-message {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-size: 20px;
    background-color: #f0f0f0; 
    border-left: 2px solid #ccc; 
    position: relative;
    margin-left: 250px; 
    top: -350px;
  }
  
  .welcome-message p {
    text-align: center; 
    margin: 0; 
  }
  
  /* Additional text styles */
  .additional-text {
    padding: 11px;
    font-size: 16px; 
    color: #555; 
  }
  