/* Management.css */
.management-page {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Set the height of the entire page to full viewport height */
}

.management-content {
  display: flex;
  width: 100%;
}

.management-main {
  flex: 1; /* Allow the main content to take up remaining space */
  padding: 20px;
}

/* Adjust the following styles based on your design preferences */
/* Sidebar styling */
.react-pro-sidebar {
  background-color: #333;
  color: #fff;
}

/* Navbar styling */
/* Add styles for your Navbar */

/* UserDetails styling */
.welcome-message {
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

.additional-text {
  margin-top: 10px;
}

/* Add additional styles for other components as needed */
